.advantages {
  padding: 111px 0 111px 0;
  background-color: #FAFAFA;
  &__heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 6px;
  }
  &__element {
    max-width: 290px;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  &__icon {
    margin-bottom: 28px;
    img {
      width: 78px; 
      width: 78px;
    }
  }
  &__part {
    display: flex;
    width: 4%;
    justify-content: space-between;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 630px) {
    padding: 21px 0;
    &__wrapper {
      flex-wrap: wrap;
    }
    &__element {
      margin-top: 38px;
      width: 45%;
      margin-right: 0;
    }
    &__heading {
      font-size: 14px;
      line-height: 26px;
    }
    &__paragraph {
      font-size: 14px;
      line-height: 22px;
    }
  }
}