.footer {
  padding: 88px 0;
  &__ul {
    display: flex;
    flex-wrap: wrap;
    li {
      margin-bottom: 11px;
    }
  }
  &__link {
    margin-right: 25px;
  }
  &__flex {
    display: flex;
    align-items: center;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__author {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--grey-deep);
    margin-left: 6px;
  }
  &__image {
    width: 30px;
    height: 30px;
    margin-right: 6px;
  }
  &__author {
    font-size: 16px;
    line-height: 20px;
    color: var(--grey-deep);
    a {
      color: var(--grey-deep);
    }
  }
  @media (max-width: 769px) {
    &__wrapper {
      flex-direction: column;
    }
    &__ul {
      justify-content: space-between;
      justify-content: center;
    }
    &__link {
      margin: 10px;
    }
    &__nav {
      margin-bottom: 39px;
    }
  }
  @media (max-width: 425px) {
    padding: 48px 0 58px 0;
    &__wrap {
      align-items: center;
    }
  }
}