.galeria {
  padding: 40px 0;
  &__galeria {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(7, minmax(0, 0.5fr));
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  &__link {
    img {
      width: 100%;
    }
  }
  @media (max-width: 426px) {
    &__galeria {
      gap: 5px;
    }
  }
}

.grid {
  &__item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  &__item-12 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
  }
}