.header {
  padding: 63px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  &__logo {
    img {
      width: 145px;
      height: 100%;
    }
  }
  &__ul {
    display: flex;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__li {
    margin-right: 20px;
    position: relative;
    align-items: baseline;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--grey-deep);
    &:after {
      display: block;
      content: "";
      margin-top: 5px;
      width: 60%;
      height: 2px;
      background-color: transparent;
      transition: 0.2s all;
    }
    &:hover {
      &:after {
        background-color: var(--accent-color);
      }
    }
  }
  &__active {
    color: var(--white-color);
    margin-left: 200px;
    text-transform: uppercase;
    &:after {
      content: "";
      margin-top: 5px;
      width: 30%;
      display: block;
      height: 2px;
      background-color: var(--white-color);
      opacity: 0.26;
    }
    &:hover {
      &:after {
        transition: 0.2s all;
        opacity: 1;
      }
    }
  }
  &__hamburger {
    display: none;
  }
  &__margin {
    margin-right: 100px;
  }
  &__element {
    padding: 18px 20px;
    background-color: var(--accent-color);
    position: relative;
    border-bottom: 3px solid #FFF;
    &:last-child {
      border-bottom: 0;
    }
  }
  &__menu {
    text-transform: uppercase;
    &-link {
      color: var(--white-color);
      text-transform: uppercase;
    }
    &-list {
      position: absolute;
      transition: 0.2s all;
      top: 24px;
      left: -97px;
      display: none;
      min-width: 300px;
    }
  }
  @media (max-width: 1200px) {
    padding: 20px 0;
    &__active {
      margin-left: 50px;
    }
    &__wrapper {
      align-items: unset;
    }
  
    &__hamburger {
      display: block;
      position: absolute;
      padding: 5px 0;
      right: 20px;
      top: 46%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 6px;
    }
    &__hamburger span {
      display: block;
      height: 3px;
      width: 100%;
      background-color: var(--grey-deep);
      margin-bottom: 4px;
      border-radius: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    &__hamburger_active span {
      margin-bottom: -2px;
      transition: 0.6s all;
    }
  
    &__hamburger_active span:nth-child(1) {
      transform: rotate(-45deg);
    }
  
    &__hamburger_active span:nth-child(2) {
      display: none;
    }
  
    &__hamburger_active span:nth-child(3) {
      transform: rotate(45deg);
    }
  
    &__ul {
      position: absolute;
      z-index: 100;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 50%;
      padding: 40px 20px;
      background-color: var(--accent-color);
      transition: 0.6s all;
    }
  
    &__nav {
      ul {
        li {
          margin-bottom: 10px;
          a {
            margin-left: 0;
          }
        }
      }
    }
    &__nav_active {
      left: 0;
    }
    &__link {
      color: var(--white-color);
    }
    &__li {
      margin-right: 0;
    }
  }
  @media (max-width: 426px) {
    &__logo {
      img {
        width: 104px;
      }
    }
    &__active {
      font-size: 14px;
      line-height: 17px;
      margin-left: 22px;
    }
    &__ul {
      width: 68%;
    }
    &__link {
      text-align: center;
    }
    &__nav {
      ul {
        li {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.sub-menu__list {
  position: absolute;
  text-align: left;
}

.sub-sub-menu__list {
  display: none;
  position: absolute;
  left: 100%;
  background-color: var(--grey-deep);
  top: 0;
  min-width: 300px;
  li {
    padding: 18px 20px;
    border-bottom: 3px solid #FFF;
    &:last-child {
      border-bottom: none;
    }
  }
}

.arrow {
  display: none;
  position: absolute;
  right: 0px; 
  top: 7px;
  width: 0;
  height: 0;
  border-top: 7px solid var #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  margin-left: 7px;
}

.arrow.active {
  transform: rotate(-180deg);
}

body.mouse .menu__list>li:hover .sub-menu__list {
  display: block;
}

body.mouse .sub-menu__list>li:hover .sub-sub-menu__list {
  display: block;
}

.menu a.parent {
  margin: 0px 20px 0px 0px;
  display: block;
}

body.touch .sub-menu__list.open {
  display: block;
}

body.touch .sub-sub-menu__list.open {
  display: block;
}

body.touch .arrow {
  display: block;
}

.sub-menu__arrow.arrow {
  border-left: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: none;
  right: 10px;
  top: 28px;
}

.menu__list {
  text-align: center;
}

@media (max-width: 1200px) {
  body.touch .sub-menu__list {
    position: relative;
    left: 0; 
    top: 0;
  }

  .arrow {
    border-top: 7px solid #fff;
  }

  .sub-sub-menu__list {
    margin-top: 10px;
    position: relative;
    left: 0;
    top: 0;
    min-width: unset;
  }

  .sub-menu__arrow.arrow {
    border-top: 7px solid #fff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: 7px;
  }

  .header__element {
    padding: 6px 6px;
    border-bottom: 0;
    background-color: unset;
    font-size: 13px;
  }

  .header__nav ul li {
    margin-bottom: 10px;
  }

  .sub-sub-menu__list li {
    padding: 6px 6px;
    border-bottom: 0;
  }

  .header__menu-list {
    min-width: unset;
  }
}