.prefooter {
  min-height: 725px;
  background-image: url("../img/stopka_tlo.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  &__wrapper {
    position: absolute;
    right: 0; 
    bottom: 0;
    display: flex;
  }
  &__mobile {
    display: none;
  }
  &__left {
    background-color: var(--accent-color);
    padding: 50px 102px 50px 50px;
  }
  &__heading {
    font-size: 21px;
    line-height: 26px;
    color: var(--white-color);
    margin-bottom: 19px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }
  &__paragraph {
    max-width: 400px;
    font-size: 16px;
    line-height: 26px;
    color: var(--white-color);
  }
  &__right {
    display: flex;
    padding: 78px 200px 90px 46px;
    background: rgba(62, 62, 62, 0.88);
    align-items: center;
  }
  &__elements {
    display: flex;
    &:after {
      content: ""; 
      height: 49px; 
      width: 2px; 
      background-color: #5F5F5F;
      display: block;
    }
  }
  &__element {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 55px;
  }
  &__text {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: var(--white-color);
  }
  &__icon {
    width: 35px; 
    height: 35px;
    margin-right: 10px;
  }
  &__underline {
    text-decoration: underline;
  }
  &__links {
    margin-left: 50px;
    display: flex;
    align-items: center;
  }
  &__link {
    margin-right: 20px;
    img {
      width: 36px; 
      height: 36px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  @media (max-width: 1394px) {
    &__wrapper {
      flex-direction: column;
      width: 100%;
    }
    
    &__right {
      padding: 78px 46px 90px 46px
    }
    
    &__right {
      align-items: unset;
    }
    &__container {
      padding: 0px 0px;
    }
    &__elements {
      flex-direction: column;
      &:after {
        transform: rotate(90deg);
        margin: 0 auto;
      }
    }
    &__right {
      flex-direction: column;
      padding: 34px;
    }
    &__paragraph {
      font-size: 14px;
      line-height: 22px;
    }
    &__links {
      margin: 0 auto;
    }
    &__elements {
      align-items: flex-start;
    }
    &__element {
      margin-bottom: 29px;
      &:last-child  {
        margin-bottom: 5px;
      }
    }
    &__text {
      font-size: 21px;
      line-height: 26px;
    }
  }
  @media (max-width: 425px) {
    background-image: none;
    &__mobile {
      display: flex;
      img {
        width: 100%;
      }
    }
    &__wrapper {
      position: static;
    }
    &__left {
      padding: 35px;
    }
    &__element {
      margin-right: 0;
    }
    &__text {
      font-size: 17px;
      line-height: 18px;
    }
  }
}