.texts {
  padding: 69px 0 69px 0;
  &__picture {
    display: flex;
    align-items: center;
  }
  &__block {
    margin-right: 42px;
  }
  &__text {
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: var(--accent-color);
      font-weight: 500;
    }
  }
  &__picture {
    margin-bottom: 20px;
  }
  &__paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    a {
      color: var(--accent-color);
      font-weight: 500;
    }
    li {
      margin-bottom: 10px;
      padding-left: 15px;
      position: relative;
      &:before {
        content: ""; 
        width: 7px; 
        height: 7px; 
        background-color: var(--accent-color);
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 0;
      }
    }
  }
  &__title {
    margin-bottom: 10px;
  }
  &__image {
    min-width: 600px;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 1024px) {
    &__image {
      width: 50%;
      min-width: unset;
      img {
        width: 100%;
      }
    }
    &__block {
      width: 50%;
    }
  }
  @media (max-width: 769px) {
    &__picture {
      flex-direction: column;
    }
    &__block {
      width: 100%;
      margin-right: 0;
    }
    &__image {
      width: 100%;
      margin-top: 20px;
    }
    &__paragraph {
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 10px;
    }
  }
  @media (max-width: 426px) {
    &__title {
      font-size: 20px;
    }
  }
}