* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1324px;
  padding: 0px 10px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
  background-color: var(--grey-deep);
  max-width: 172px;
  transition: 0.2s all;
  cursor: pointer;
  margin-top: 25px;
  text-transform: uppercase;
  &:hover {
    background-color: var(--accent-color);
  }
  @media (max-width: 426px) {
    font-size: 14px;
    line-height: 17px;
    padding: 11px;
    max-width: 137px;
    margin-top: 17px;
  }
}

/* Colors */
:root {
  --accent-color: #006C5D;
  --grey-color: #DBDBDB;
  --white-color: #FFFFFF;
  --grey-deep: #3E3E3E;
  --button-color: #5F5F5F;
  --light-grey: #FAFAFA;
}

.hover {
  &:hover {
    color: var(--accent-color);
    transition: 0.2s all;
  }
}

@import "blocks/fonts.scss";
@import "blocks/header.scss";
@import "blocks/main.scss";
@import "blocks/advantages.scss";
@import "blocks/kategoria.scss";
@import "blocks/signature.scss";
@import "blocks/prefooter.scss";
@import "blocks/reviews.scss";
@import "blocks/map.scss";
@import "blocks/footer.scss";